@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6z7rjt');
  src:  url('fonts/icomoon.eot?6z7rjt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6z7rjt') format('truetype'),
    url('fonts/icomoon.woff?6z7rjt') format('woff'),
    url('fonts/icomoon.svg?6z7rjt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-with-circle:before {
  content: "\e901";
}
.icon-youtube-with-circle:before {
  content: "\e902";
}
.icon-instagram-with-circle:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-whatsapp:before {
  content: "\e900";
}
