@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Chivo:wght@300;400;700;900&display=swap');
html,
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 700px;
  background: rgb(95, 10, 78);
  background: linear-gradient(
    59deg,
    rgba(95, 10, 78, 1) 17%,
    rgba(255, 124, 63, 1) 54%,
    rgba(255, 63, 86, 1) 93%
  );
}

html,
body {
  
  
  font-family: 'Archivo Black', sans-serif;
  color: white;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

@media screen and (min-width: 768px){
  header{
    margin-top: 3em;
  }

}
#headerLogoNav{
  max-width: 1300px;
  margin: auto;
}

#mainList{
  padding-left: 1em;
  
}
#mainLogo{
  padding-left: 1em;
  padding-right: 1em;
 
}

main {
  margin-top: 3em;
  width: 100%;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

@media screen and (max-width: 952px) {
 header{
  margin-top: 0;
 }
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: row;
  }
}
@media screen and (max-width: 425px) {
  main {
    margin-top: 4em;
    
  }
  #mainNav{
    display: flex;
    flex-direction: column;
    float: inline-end;
  }
  #mainLogo{
    padding-top: 1em;
    width: 200px;
    height: 200px;
    margin: 0;

  }
  #mainList{
    padding: 0;
  }
  }

p {
  font-size: 8px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

